.wine{
  background-color: #700548;
}
.sand{
  background-color: #F7E6AA;
}
.green{
  background-color: #43AA8B;
}
.blue{
  background-color: #5863F8;
}
.orange{
  background-color: #CF5C36;

}
.pink{
  background-color: #CFA2E2;
}
